<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keep</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="icon" href="/images/logo.png" type="image/png" />
</head>
<body class="text-white">
    <header class="sticky top-0 left-0 right-0 z-50 shadow-md w-full justify-center flex">
        <%- include('nav') %>
    </header>

    <main class="border-t-1 border-gray-500">
        <%- include('sidebar') %>
        <div class="content">
            <div id="note" class="mt-7">
                <form action="/note" class="rounded-md h-9 shadow-black/40 shadow-md flex items-center justify-between px-4 w-110 border-1 border-gray-500 gap-2" method="get">
                    <input type="text" placeholder="Take a note..." class="mx-4" name="note">
                    <div class="flex gap-4">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="m424-312 282-282-56-56-226 226-114-114-56 56 170 170ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="M240-120q-45 0-89-22t-71-58q26 0 53-20.5t27-59.5q0-50 35-85t85-35q50 0 85 35t35 85q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T320-280q0-17-11.5-28.5T280-320q-17 0-28.5 11.5T240-280q0 23-5.5 42T220-202q5 2 10 2h10Zm230-160L360-470l358-358q11-11 27.5-11.5T774-828l54 54q12 12 12 28t-12 28L470-360Zm-190 80Z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm40-80h480L570-480 450-320l-90-120-120 160Zm-40 80v-560 560Z"/></svg>
                    </div>
                </form>
            </div>

            <div class="card-container">
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">Card Title</h3>
                        <p class="card-text">This is a basic card component with an image, title, text, and button.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">Card Title</h3>
                        <p class="card-text">This is a basic card component with an image, title, text, and button.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">Card Title</h3>
                        <p class="card-text">This is a basic card component with an image, title, text, and button.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">Card Title</h3>
                        <p class="card-text">This is a basic card component with an image, title, text, and button.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">Card Title</h3>
                        <p class="card-text">This is a basic card component with an image, title, text, and button.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">Card Title</h3>
                        <p class="card-text">This is a basic card component with an image, title, text, and button.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">Card Title</h3>
                        <p class="card-text">This is a basic card component with an image, title, text, and button.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="cardModal">
        <div id="contentModal" class="border-1 border-gray-500 rounded-md p-4">
            <div id="contentTitle" class="text-2xl pb-2">
                <span>Card Title</span>
            </div>
            <div id="contentPara">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam asperiores, reprehenderit eius ex unde perspiciatis? Hic temporibus, optio neque, sit voluptate laboriosam accusamus maxime pariatur illum repellat fugiat ex. Nesciunt?</p>
            </div>
            <div id="contentEdit" class="pt-3">
                Edit Content
            </div>
        </div>
    </div>
    <script src="javascripts/script.js"></script>
</body>
</html>